body {
    background: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#ascii-art {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.glow:hover {
    filter: drop-shadow(0px 0px 2px white)
}

#ascii-art a {
    color: #FFFFFF;
}

#ascii-art a:hover {
    color: #CCCCCC;
}

.red {
    color: #FF0000;
    display: inline;
}
.dash{
    padding-left: 20px;
    position: absolute;
    top: 20px;
}
.dash2{
    position: absolute;
    top: 20;
    left: 90%;
    transform: translate(0%, -20%);
}
.downthere{
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-75%, -50%);
}